.error {
    color: lawngreen;
}

p.error {
    color: red;
}

p.success {
    color: blueviolet;
}

p.success.feedback {
    color: lightcoral;
}


a[href="https://www.thenetninja.co.uk/"] {
    background-color: cadetblue;
    color: white;
    text-decoration: none; /* removes underline */
    font-weight: bold;
    text-transform: capitalize;
}

/* *= 'contains' */

a[href*="google"] {
    background-color: yellowgreen;
    color: white;
    text-decoration: none; /* removes underline */
    font-weight: 900;
    text-transform: inherit;
}

/* *= 'ends with' */

a[href$=".net/"] {
    background-color: lightseagreen;
    color: white;
    text-decoration: none; /* removes underline */
    font-weight: 900;
    text-transform: unset;
}