div {
    color: lightcoral;
    border: 1px solid purple;
    margin: 40px;
    font-weight: bold;
}

div p {
    border: inherit;
    margin: inherit;
    color: crimson;
}

p {
    color: orchid;
}